<% @posts.each do |p| %>
<div class="card text-center mb-4" style="width: 100%;">
  <div class="card-header">
    <%= p.category %>
  </div>
  <div class="card-block">
    <h4 class="card-title"><%= p.content %></h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<% end %>

